/* root ********************************************************************/
:root {
    /* グレースケール */
    --color-gray-000: #ffffff;
    --color-gray-100: #f5f5f5;
    --color-gray-200: #eeeeee;
    --color-gray-300: #e0e0e0;
    --color-gray-400: #bdbdbd;
    --color-gray-500: #9e9e9e;
    --color-gray-600: #757575;
    --color-gray-700: #616161;
    --color-gray-800: #424242;
    --color-gray-900: #212121;
    --color-gray-1000: #000000;

    /* ベースカラー */
    --color-base: #ffffff; /* 白 */
    --color-text: #333333; /* 濃い灰色 */

    /* キーカラー */
    --color-primary: linear-gradient(90deg, rgba(144, 245, 154, 1), rgba(4, 202, 255, 1));
    --color-primary-dark: hsl(64, 100%, 0%); 
    --color-primary-light: hsl(64, 100%, 100%);

    /* アクセントカラー */
    --color-accent: yellow; /* 明るいシアン */

    /* フォントサイズ */
    --text-xxsmall: clamp(8px, calc(8px + (10.4 - 8) * ((100vw - 734px) / (1068 - 734))), 10.4px);
    --text-xsmall: clamp(10.4px, calc(10.4px + (13.52 - 10.4) * ((100vw - 734px) / (1068 - 734))), 13.52px);
    --text-small: clamp(13.52px, calc(13.52px + (17.576 - 13.52) * ((100vw - 734px) / (1068 - 734))), 17.576px);
    --text-base: clamp(17.576px, calc(17.576px + (22.8488 - 17.576) * ((100vw - 734px) / (1068 - 734))), 22.8488px);
    --text-large: clamp(22.8488px, calc(22.8488px + (29.70344 - 22.8488) * ((100vw - 734px) / (1068 - 734))), 29.70344px);
    --text-xlarge: clamp(29.70344px, calc(29.70344px + (38.614472 - 29.70344) * ((100vw - 734px) / (1068 - 734))), 38.614472px);
    --text-xxlarge: clamp(38.614472px, calc(38.614472px + (50.1988136 - 38.614472) * ((100vw - 734px) / (1068 - 734))), 50.1988136px);
    --text-xxxlarge: clamp(50.1988136px, calc(50.1988136px + (65.25865768 - 50.1988136) * ((100vw - 734px) / (1068 - 734))), 65.25865768px);
    --text-xxxxlarge: clamp(65.25865768px, calc(65.25865768px + (84.836255384 - 65.25865768) * ((100vw - 734px) / (1068 - 734))), 84.836255384px);
    
    /* 汎用サイズ */
    --xxsmall: clamp(7px, calc(7px + (9 - 7) * ((100vw - 734px) / (1068 - 734))), 10px);
    --xsmall: clamp(14px, calc(14px + (18 - 14) * ((100vw - 734px) / (1068 - 734))), 20px);
    --small: clamp(28px, calc(28px + (36 - 28) * ((100vw - 734px) / (1068 - 734))), 40px);
    --base: clamp(56px, calc(56px + (72 - 56) * ((100vw - 734px) / (1068 - 734))), 80px);
}
html {
    width: 100%;
    font-size: 100%;
    letter-spacing: .05rem;
}
body {
    background-color: var(--color-base);
    font-family: 'Noto Sans JP', sans-serif;
    letter-spacing: 0.3;
}
main {
    padding-top: 60px; /* ヘッダーの高さ分だけスペースを確保 */
}
/* contaner ********************************************************************/
.container {
    display: flex;
    flex-direction: column;
    margin-top: 60px;
    width: 100%;
    background-color: var(--color-base);
}
.title-container {
    padding: var(--xsmall) var(--base);
}
@media (max-width: 1068px) {
    .title-container {
        padding: var(--xsmall) var(--small);
    }
}
.description-container{
    max-width: 1068px;
    padding: var(--xsmall) var(--base);
}
@media (max-width: 1068px) {
    .description-container {
        padding: var(--xsmall) var(--small);
    }
}
.media-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: var(--base);
}
@media (max-width: 1068px) {
    .media-container {
        padding: var(--xsmall);
    }
}
.media-sub-container {
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 70vh; /* 固定の高さを設定 */
}
@media (max-width: 767px) {
    .media-sub-container {
        height: 40vh; /* 画面が768px未満の場合の高さ */
    }
}
.media-sub-container video,
.media-sub-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.media-container-button {
    position: absolute;
    bottom: 10%;
}
.media-title-container {
    display: flex;
    width: 100%;
    padding: var(--base) var(--base) var(--xsmall) var(--base);
}
.media-description-container {
    display: flex;
    max-width: 1068px;
    padding: var(--xsmall) var(--base);
}
.media-meta-container {
    display: flex;
    align-items: end;
    gap: var(--xsmall);
    max-width: 1068px;
    padding: var(--xsmall) var(--base);
}
.media-meta-container div{
    display: flex;
    flex-direction: column;
    gap: var(--xxsmall);
}
.media-meta-container img{
    display: flex;
    max-width: 150px;
}
/* header ********************************************************************/
header {
    position: fixed;
    z-index: 9999;
    width: 100%;
    height: 60px;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--color-base);
}
.header-logo img {
    width: 100px;
}
.header-nav {
    display: flex;
}
.header-nav ul {
    display: flex;
    list-style: none;
    padding: 0;
}
.header-nav li {
    margin-right: 20px; /* 項目間のスペースを調整 */
}
.header-nav a {
    text-decoration: none;
    color: var(--color-gray-900);
    padding: 10px;
    display: block; /* リンクがli要素の全領域を占めるように */
}
.header-nav .header-nav-underline {
    position: absolute;
    bottom: 0;
    height: 1px;
    background-color: var(--color-gray-900);
    width: 0; 
    transition: all 0.3s ease;
}
@media (max-width: 768px) {
    .header-toggle {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 44px;
        height: 44px;
        background-color: var(--color-gray-900);
        border-radius: 50%;
        position: fixed;
        top: 6px;
        right: 10px;
        z-index: 15000;
        cursor: pointer;
    }

    .bar {
        position: relative;
        top:4px;
        height: 1px;
        width: 50%;
        background-color: var(--color-gray-100);
        margin-bottom: 8px; /* バー間の間隔を調整 */
        transition: transform 0.3s ease-in-out;
    }

    .header-toggle.active .bar:nth-child(1) {
        transform: translateY(5px) rotate(45deg);
    }

    .header-toggle.active .bar:nth-child(2) {
        transform: translateY(-4px) rotate(-45deg);
    }

    .header-nav {
        position: fixed;
        top: 0;
        right: 0;
        width: 250px;
        height: 100vh;
        background-color: var(--color-base);
        transform: translateX(100%);
        transition: transform 0.3s ease-in-out;
        display: flex;
        flex-direction: column;
        z-index: 1000;
    }

    .header-nav ul {
        list-style: none;
        padding: 100px 0 20px; /* 上部に余白を追加 */
        margin: 0;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        height: 100%;
    }

    .header-nav li {
        margin: 10px 0; /* 項目間のマージン */
    }

    .header-nav.active {
        transform: translateX(0); /* 画面内に表示 */
    }
}
/* footer ********************************************************************/
footer{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: end;
    background-color: var(--color-base);
}
.footer-container{
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 4vw;
    padding: 20px;
}
.footer-sub-container {
    display: flex;
    flex-direction: column;
}
.footer-logo {
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: left;
    align-items: center;
}
.footer-logo-etac {
    height: 20px;
}
.footer-logo-kusumoto {
    height: 32px;
}
.footer-list-container {
    display: flex;
    gap: 2vw;
    margin-top: 20px;
}
.footer-list-title {
    font-size: var(--text-xsmall);
    font-weight: bold;
    color: var(--color-gray-1000);
    border-bottom: .5px solid var(--color-gray-1000);
    margin-bottom: 12px;
    padding: 4px 0;
}
.footer-list li{
    padding: 6px 0px;
    font-size: var(--text-xsmall);
    color: var(--color-gray-700);
}
.copyright-container {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-primary-dark);
}
.copyright-container small {
    display: inline-block;
    padding: 6px 12px 7px 12px;
    border-radius: 18px;
    background-color: var(--color-gray-1000);
    font-size: var(--text-xxsmall);
    font-weight: bold;
    color: var(--color-gray-200);
}
@media (max-width: 1068px){
    .footer-container{
        flex-direction: column;
        align-items: center;
        gap: 0;
        padding: 0;
    }
    .footer-sub-container {
        width: 100%;
        display: flex;
        flex-direction: column;
        padding: 20px 40px;
    }
    .footer-list-container {
        flex-direction: column;
        padding: 0;
    }
    .footer-list li{
        width: 100%;
        padding: 6px 0px;
        font-size: var(--text-small);
        color: var(--color-gray-700);
    }
}
/* button  ********************************************************************/
.button {
    display: block !important;
    position: relative;
    overflow: hidden;
    padding: var(--xsmall) var(--base);
    color: var(--color-primary-light);
    font-size: var(--text-small);
    cursor: pointer;
    text-align: center;
    background-color: transparent;
    transition: color 0.3s ease;
}
.button::before {
    content: "";
    position: absolute;
    top: 0;
    left: -100%;
    width: 200%;
    height: 100%;
    background-image: var(--color-primary);
    transition: left 0.5s ease;
    z-index: -1;
}
.button::after {
    content: '\2192';
    display: inline-block;
    margin-left: 2px;
    font-size: var(--text-xsmall);
}
.button:hover::before {
    left: 0;
}
.button-invert {
    color: var(--color-gray-600);
    font-size: var(--text-xsmall);
    border-radius: 40px;
    cursor: pointer;
    position: relative;
    text-align: end;
    transition: all 0.3s ease;
}
.button-invert::after {
    content: '\2192';
    display: inline-block;
    margin-left: 2px;
    font-size: var(--text-xsmall);
}
.button-small {
    position: relative;
    overflow: hidden;
    padding: var(--xxsmall) var(--xsmall);
    color: var(--color-primary-light);
    font-size: var(--text-xsmall);
    cursor: pointer;
    text-align: center;
    background-color: transparent;
    transition: color 0.3s ease;
}
.button-small::before {
    content: "";
    position: absolute;
    top: 0;
    left: -100%;
    width: 200%;
    height: 100%;
    background-image: var(--color-primary);
    transition: left 0.5s ease;
    z-index: -1;
}
.button-small::after {
    content: '\2192';
    display: inline-block;
    margin-left: 2px;
    font-size: var(--text-xsmall);
}
.button-small:hover::before {
    left: 0;
}
/* tag******************************************************************************/
.tag-container {
    position: fixed;
    top: 60px;
    left: 0;
    display: flex;
    justify-content: center;
    width: 100%;
    padding: var(--xsmall) var(--base);
    z-index: 999;
}
@media (max-width: 768px) {
    .tag-container {
        display: none;
    }
}
.tag-sub-container {
    position: relative;
    display: flex;
    justify-content: center;
    padding: 12px;
    border-radius: 40px;
    background-color: var(--color-gray-100);
    z-index: 1;
}
.tag-list {
    display: flex;
    position: relative;
}
.tag-list-item {
    padding: 8px 16px;
    border-radius: 5px;
    color: var(--color-gray-000);
}
.tag-list-item a {
    color: #000;
    text-decoration: none;
    transition: all .3s;
}
.tag-list-item a.active {
    color: #FFF;
}
.highlight-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-image: var(--color-primary);
    border-radius: 24px;
    z-index: -1;
    transition: all 0.3s ease;
}
/* tag******************************************************************************/
.tab-container {
    position: relative;
    display: flex;
    justify-content: center;
    width: 100%;
}
.tab-list {
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    height: 60px;
    margin: var(--small);
    padding: 12px;
    border-radius: 30px;
    background-color: var(--color-gray-000);
}
.tab-list-item {
    position: relative;
    display: block;
    display: flex;
    justify-content: center;
    align-items: center;
    white-space: nowrap;
    height: 48px;
    padding: 0 16px;
    cursor: pointer;
}
.tab-list-item a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    padding: 0 16px;
    position: relative;
    z-index: 1;
}
@media (max-width: 768px) {
    .tab-list-item a {
        font-size: 12px;
    }
}
.tab-list-item.active a {
    color: var(--color-primary-light);
}
.tab-highlight-background {
    position: absolute;
    top: 50%; /* 中央に配置 */
    left: 0; /* 基本位置 */
    transform: translateY(-50%); /* 自身の高さの半分だけ上に移動 */
    border-radius: 30px;
    background-image: var(--color-primary);
    transition: left 0.3s ease, width 0.3s ease, height 0.3s ease;
}
.tab-content {
    display: none;
}
.tab-content-item-container {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: var(--small);
    border-radius: 36px;
    overflow: hidden;
    background-color: var(--color-gray-000);
}
.tab-content-item-sub-container {
    display: flex;
    flex-direction: column;
    gap: var(--xsmall);
    width: 100%;
    height: auto;
}
/* text ******************************************************************************/
.etac-h1 {
    font-size: var(--text-xxxlarge);
    font-weight: bold;
    color: var(--color-gray-900);
    line-height: 1.3;
}
.etac-h2 {
    font-size: var(--text-xxlarge);
    font-weight: bold;
    color: var(--color-gray-900);
    line-height: 1.3;
}
.etac-h3 {
    font-size: var(--text-xlarge);
    font-weight: bold;
    color: var(--color-gray-900);
    line-height: 1.3;
}
.etac-h4 {
    font-size: var(--text-large);
    font-weight: bold;
    line-height: 1.5;
}
.etac-h5 {
    font-size: var(--text-base);
    line-height: 2;
}
.etac-h6 {
    font-size: var(--text-xsmall);
    color: var(--color-gray-500);
}
.etac-p {
    font-size: var(--text-small);
    line-height: 1.7;
}
[class^="etac-tag-"] {
    display: flex;
    flex-wrap: wrap;
    gap: 4px;
    font-size: var(--text-xsmall);
    color: var(--color-gray-700);
}
[class^="etac-tag-"] span {
    word-break:keep-all;
    padding: 4px 8px;
    border-radius: 4px;
    font-size: var(--text-xsmall);
}
.etac-tag-light span {background-color: var(--color-gray-000);  color:var(--color-gray-1000); border: 1px solid var(--color-gray-500);}
.etac-tag-dark span  {background-color: var(--color-gray-700); color:var(--color-gray-000);  border: 1px solid var(--color-gray-500);}
.etac-ul {
    padding: 8px 0 0 8px;
    margin: 4px 0;
    list-style: "-";
}
.etac-ul li {
    padding: 2px 8px;
    font-size: var(--text-xsmall);
    line-height: 1.5;
    color: var(--color-gray-800);
}
/* animation ******************************************************************************/
.slide-up {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}
.slide-up-visible {
    opacity: 1;
    transform: translateY(0);
}
/* splide *******************************************************************************/
.splide__slide img {
    width: 100%;
    height: auto;
    object-fit: cover;
}
.splide__progress-container {
    display: flex;
    justify-content: center;
    margin: var(--text-xsmall) var(--base) 0 var(--base);
}
.splide__progress {
    width: 100%;
    height: 2px;
    border-radius: 8px;
    background: #eee;
    margin-top: 10px;
}
.splide__progress-bar {
    height: 2px;
    border-radius: 8px;
    background-image: var(--color-primary);
    width: 0%;
    transition: width 0.5s ease; 
}
.splide__count-container{
    display: flex;
    justify-content: end;
    padding: var(--text-xsmall) var(--base);
    font-size: var(--text-xsmall);
    color: var(--color-gray-600);
}
.splide .splide__arrow {
    position: absolute;
    top: 50%;
    bottom: 0;
    transform: translateY(0);
    width: 20px;
    height: 60px;
    border: 0;
    border-radius: 0;
    background-color: var(--color-primary-dark);
    cursor: pointer;
    opacity: 1;
    z-index: 1;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    transition: all 0.3s ease;
}
.splide .splide__arrow svg {
    fill: var(--color-primary-light);
    width: 20px;
    height: 20px;
}
.splide__arrow:disabled {
    opacity: 0 !important;
}
.splide__arrow--next {
    right: 0px !important;
}
.splide__arrow--prev {
    left: 0px !important;
}

/* 服部追加分 */
.error-text {
    color: red;
    font-size: var(--text-xsmall);
}

#submit-button {
    display: block;
    width: 100%;
    padding: var(--xsmall) var(--base);
    color: var(--color-primary-light);
    font-size: var(--text-small);
    cursor: pointer;
    text-align: center;
    background-color: var(--color-primary-dark);
    transition: color 0.3s ease;
}